# Editor & test folders
.vscode/**
.vscode-test/**

# Don’t ship your dev dependencies
node_modules/**

# Don’t ship raw TypeScript or maps
**/*.ts
**/*.map

# Don’t ship local build scripts or config
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
.gitignore
.yarnrc
